@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #1e53a5;
    --primary: #1e53a5;
    --secondary: #ffffff;
    --third: #016abb;
    /* --third: #21248c; */
    --light-blue: #ecf5ff;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1.sectionHeader {
    font-size: 15px;
    color: var(--third);
    margin: 0;
    padding: 0;
} 

.headerContainer {
    background-color: var(--light-blue);
    border-radius: 30px;
    padding: 0px 20px 0px 20px;
    text-align: center;
    width: max-content;
    margin-bottom: 50px;
}