@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Serif:ital@0;1&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');


:root {
    --primary: #ebe9e1;
    --secondary: #fff4ec;
    --black: #121212;
}

.racing-sans {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.instrument-serif-regular {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

.inria-serif-bold {
    font-family: "Inria Serif", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.5px;
  }  

div.sectionHeader {
    font-size: 15px;
    color: var(--black);
    margin: 0;
    padding: 5px 25px;
    margin: 0px 0px 40px 0px ;
    border-radius: 30px;
    background-color: #ced9e5;
} 

.headerContainer {
    border-radius: 30px;
    padding: 0px 20px 0px 20px;
    text-align: center;
    width: max-content;
}

.navcontainer {
    position: fixed;
    z-index: 1;
    width: 100%;
}