.heroContainer {
    background-color: var(--secondary);
    color: var(--third);
    font-size: 50px;
    padding: 50px 0px 50px 0px;
    @media only screen and (max-width: 600px) {
        padding: 50px 0px 50px 0px;
      }
}

.imgContainer {
    border: 1px solid var(--third);
    width: 400px;
    height: 300px;
    @media only screen and (max-width: 600px) {
        margin: 40px 0px 0px 0px;
      }
}

h1 {
    font-size: 65px;
    line-height: 60px;
    @media only screen and (max-width: 600px) {
        font-size: 40px;
        line-height: 40px;
      }
}

h2 {
    font-size: 18px;
    line-height: 22px;
    @media only screen and (max-width: 600px) {
        font-size: 14px;
        line-height: 18px;
      }
}