.reviewHeader {
    font-size: 20px;
}

.reviewsContainer {
    padding: 50px 0px 50px 0px;
}

.reviewSlider {
    display: flex;
}

.review {
    border: 1px solid var(--black);
    border-radius: 5px;
    width: 20vw;
    padding: 40px 50px;
    margin: 0px 20px;
}

p.reviewText, p.reviewContent, p.reviewSig  {
    font-size: 1em;
    line-height: 1.4em;
}