:root {
    --primary: #1e53a5;
    --secondary: #ffffff;
    --third: #21248c;

}

.navcontainer {
    background-color: var(--third);
    color: var(--secondary);
    border-bottom: 1px solid var(--secondary);
    padding: 20px 10px 20px 35px;
}

.navbar-expand-lg {
    justify-content: space-between;
}

.navlogo, .nav-link {
    color: var(--secondary);
}

.navlogo {
    font-size: 16px;
    font-weight: 700;
}

a:link.link, a:visited.link, a:hover.link, a:active.link  {
    color: var(--secondary);
}

