:root {
    --primary: #ebe9e1;
    --secondary: #ffffff;
    --third: ;
}

.navcontainer {
    border-bottom: 1px solid var(--secondary);
    padding: 0px 10px 0px 35px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 20px 0px 20px;
}

.navlogo, .nav-link {
    color: var(--primary);
}

.nav-link {
    font-family: "Inria Serif", serif;
    font-size: 15px;
}

.navlogo {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -1px;
}

a:link.link, a:visited.link, a:hover.link, a:active.link  {
    color: var(--primary);
}

