.btn {
 margin: 0;
 padding: 0px 10px 0px 0px;
 font-size: 13px;
 text-transform: uppercase;
 border: none;
 font-weight: 600;
 color: rgba(0, 0, 0, .4);
}

.btn.active {
  color: 
  #28282a;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;

}

.work-header {
    padding: 120px 0px 0px 0px;
}

.work-header p {
    font-size: 9vw;
    font-family: "FKGroteskNeueTrial";
    padding: 0;
    margin: 0;
    line-height: 10vw;
}

/* img.photo {
    border: 1.5px solid black;
    border-radius: 15px;   
  } */

  @media only screen and (max-width: 700px) {
    .button-container {
        padding-bottom: 50px;
    }
    .btn {
        padding-bottom: 5px;
        font-weight: 500;
    }
  }